Repository cms-l1t-offline/cmssw, pull requests merged in 2023-11, with the labels that each got.

#1169 Update the L1Vertex tag in the P2GT producer
  L1Trigger/Phase2L1GT/python/l1tGTProducer_cff.py
Labels: Phase-2, Bug fix

#1173 Change tracker HT jet selection
  L1Trigger/L1TTrackMatch/python/l1tTrackerEmuHTMiss_cfi.py
  L1Trigger/L1TTrackMatch/python/l1tTrackerHTMiss_cfi.py
Labels: Phase-2, Algorithm Development

#1170 Phase 2- Emulator cluster firmware style
  L1Trigger/DemonstratorTools/test/gtt/createFirmwareInputFiles_cfg.py
  L1Trigger/L1TTrackMatch/plugins/L1TrackJetClustering.h
  L1Trigger/L1TTrackMatch/plugins/L1TrackJetEmulatorProducer.cc
Labels: Phase-2, Emulator Development

#1176 Phase 2 GTT TrackVertexAssociation Firmware limit
  L1Trigger/DemonstratorTools/interface/codecs/tracks.h
  L1Trigger/DemonstratorTools/src/codecs_tracks.cc
  L1Trigger/L1TTrackMatch/plugins/L1TrackVertexAssociationProducer.cc
  L1Trigger/L1TTrackMatch/python/l1tTrackVertexAssociationProducer_cfi.py
Labels: Phase-2, Emulator Development

#1181 Consolidation of Phase-2 e/g object interface
  DataFormats/L1TCorrelator/interface/TkElectron.h
  DataFormats/L1TCorrelator/interface/TkEm.h
  DataFormats/L1TCorrelator/src/TkElectron.cc
  DataFormats/L1TCorrelator/src/TkEm.cc
  DataFormats/L1TCorrelator/src/classes_def.xml
  DataFormats/L1TParticleFlow/interface/datatypes.h
  DataFormats/L1TParticleFlow/interface/egamma.h
  DataFormats/L1TParticleFlow/interface/layer1_emulator.h
  DataFormats/L1TParticleFlow/src/layer1_emulator.cpp
  L1Trigger/Phase2L1ParticleFlow/interface/egamma/pftkegalgo_ref.h
  L1Trigger/Phase2L1ParticleFlow/plugins/L1TCorrelatorLayer1Producer.cc
  L1Trigger/Phase2L1ParticleFlow/plugins/L1TCtL2EgProducer.cc
  L1Trigger/Phase2L1ParticleFlow/plugins/L1TEGMultiMerger.cc
  L1Trigger/Phase2L1ParticleFlow/python/l1TkEgAlgoEmulator_cfi.py
  L1Trigger/Phase2L1ParticleFlow/src/egamma/pftkegalgo_ref.cpp
Labels: Phase-2, Data types

#1171 Add jet collections
  L1Trigger/L1TTrackMatch/plugins/L1TruthTrackFastJetProducer.cc
  L1Trigger/L1TTrackMatch/plugins/TPFastJetProducer.cc
  L1Trigger/L1TTrackMatch/python/l1tTruthTrackFastJets_cfi.py
  L1Trigger/L1TTrackMatch/python/tpFastJets_cfi.py
Labels: Phase-2, Algorithm Development
