Repository cms-l1t-offline/cmssw, pull requests merged in 2023-04, with the labels that each got.

#1093 Add "one loose" showers from EMTF and "two loose showers in different sectors" from uGMT to L1Tntuples (backport of 41233)
  L1Trigger/L1TMuon/plugins/L1TMuonShowerProducer.cc
  L1Trigger/L1TNtuples/interface/L1AnalysisL1UpgradeDataFormat.h
  L1Trigger/L1TNtuples/interface/L1AnalysisL1UpgradeTfMuonShowerDataFormat.h
  L1Trigger/L1TNtuples/src/L1AnalysisL1Upgrade.cc
  L1Trigger/L1TNtuples/src/L1AnalysisL1UpgradeTfMuonShower.cc
Labels: Phase-1, Backport

#1094 Adding 2Loose HMT showers in the GT emulator (backport of 41211)
  L1Trigger/L1TGlobal/interface/MuonShowerTemplate.h
  L1Trigger/L1TGlobal/plugins/TriggerMenuParser.cc
  L1Trigger/L1TGlobal/src/GlobalBoard.cc
  L1Trigger/L1TGlobal/src/MuonShowerCondition.cc
  L1Trigger/L1TGlobal/src/MuonShowerTemplate.cc
Labels: Phase-1, Backport

#1098 Phase2 prototype gt v0
  DataFormats/L1Trigger/interface/P2GTAlgoBlock.h
  DataFormats/L1Trigger/interface/P2GTCandidate.h
  DataFormats/L1Trigger/src/P2GTCandidate.cc
  DataFormats/L1Trigger/src/classes.h
  DataFormats/L1Trigger/src/classes_def.xml
  L1Trigger/Configuration/python/GTemulator_cff.py
  L1Trigger/Phase2L1GT/.gitignore
  L1Trigger/Phase2L1GT/BuildFile.xml
  L1Trigger/Phase2L1GT/interface/L1GTInvariantMassError.h
  L1Trigger/Phase2L1GT/interface/L1GTScales.h
  L1Trigger/Phase2L1GT/plugins/BuildFile.xml
  L1Trigger/Phase2L1GT/plugins/L1GTAlgoBlockProducer.cc
  L1Trigger/Phase2L1GT/plugins/L1GTBoardWriter.cc
  L1Trigger/Phase2L1GT/plugins/L1GTDeltaCut.h
  L1Trigger/Phase2L1GT/plugins/L1GTDoubleObjectCond.cc
  L1Trigger/Phase2L1GT/plugins/L1GTEvaluationInterface.h
  L1Trigger/Phase2L1GT/plugins/L1GTEvaluationProducer.cc
  L1Trigger/Phase2L1GT/plugins/L1GTNTupleProducer.cc
  L1Trigger/Phase2L1GT/plugins/L1GTOptionalParam.h
  L1Trigger/Phase2L1GT/plugins/L1GTProducer.cc
  L1Trigger/Phase2L1GT/plugins/L1GTQuadObjectCond.cc
  L1Trigger/Phase2L1GT/plugins/L1GTSingleCollectionCut.h
  L1Trigger/Phase2L1GT/plugins/L1GTSingleInOutLUT.h
  L1Trigger/Phase2L1GT/plugins/L1GTSingleObjectCond.cc
  L1Trigger/Phase2L1GT/plugins/L1GTTripleObjectCond.cc
  L1Trigger/Phase2L1GT/python/VHDLWriter/Conditions.py
  L1Trigger/Phase2L1GT/python/VHDLWriter/Conversions.py
  L1Trigger/Phase2L1GT/python/VHDLWriter/Writer.py
  L1Trigger/Phase2L1GT/python/VHDLWriter/algounit.template
  L1Trigger/Phase2L1GT/python/VHDLWriter/double.template
  L1Trigger/Phase2L1GT/python/VHDLWriter/quad.template
  L1Trigger/Phase2L1GT/python/VHDLWriter/single.template
  L1Trigger/Phase2L1GT/python/VHDLWriter/triple.template
  L1Trigger/Phase2L1GT/python/l1tGTAlgoBlockProducer_cff.py
  L1Trigger/Phase2L1GT/python/l1tGTDoubleObjectCond_cfi.py
  L1Trigger/Phase2L1GT/python/l1tGTMenu_cff.py
  L1Trigger/Phase2L1GT/python/l1tGTMenu_hadr_metSeeds_cff.py
  L1Trigger/Phase2L1GT/python/l1tGTMenu_lepSeeds_cff.py
  L1Trigger/Phase2L1GT/python/l1tGTProducer_cff.py
  L1Trigger/Phase2L1GT/python/l1tGTQuadObjectCond_cfi.py
  L1Trigger/Phase2L1GT/python/l1tGTScales.py
  L1Trigger/Phase2L1GT/python/l1tGTSingleInOutLUT.py
  L1Trigger/Phase2L1GT/python/l1tGTSingleObjectCond_cfi.py
  L1Trigger/Phase2L1GT/python/l1tGTTripleObjectCond_cfi.py
  L1Trigger/Phase2L1GT/src/L1GTScales.cc
  L1Trigger/Phase2L1GT/src/classes.h
  L1Trigger/Phase2L1GT/src/classes_def.xml
  L1Trigger/Phase2L1GT/test/gt_emulation.py
  L1Trigger/Phase2L1GT/test/gt_firmware_evaluation.py
  L1Trigger/Phase2L1GT/test/menu_analyzer.py
  L1Trigger/Phase2L1GT/test/test_GT.py
  L1Trigger/Phase2L1GT/test/test_algounitwriter.py
  L1Trigger/Phase2L1GT/test/test_board_writer.py
Labels: Phase-2, Emulator Development, SNAPSHOT BRANCH PR

#1079 GMT: Add ap_data type for GT interface
  DataFormats/L1TMuonPhase2/interface/Constants.h
  DataFormats/L1TMuonPhase2/interface/SAMuon.h
  DataFormats/L1TMuonPhase2/interface/TrackerMuon.h
  DataFormats/L1TMuonPhase2/src/classes_def.xml
  L1Trigger/Phase2L1GMT/plugins/Phase2L1TGMTSAMuonProducer.cc
  L1Trigger/Phase2L1GMT/plugins/TrackMuonMatchAlgorithm.h
  L1Trigger/Phase2L1GMT/python/gmt_cfi.py
  L1Trigger/Phase2L1GMT/test/runGMT.py
Labels: Phase-2, Data types, GT Necessary

#1105 Fix GT format for Phase-2 e/g objects
  DataFormats/L1TParticleFlow/interface/gt_datatypes.h
Labels: Phase-2, Data types
