Repository cms-l1t-offline/cmssw, pull requests merged in 2023-06, with the labels that each got.

#1069 Devel phase2eg standalone barrel emulator
  DataFormats/L1TCalorimeterPhase2/BuildFile.xml
  DataFormats/L1TCalorimeterPhase2/interface/CaloCrystalCluster.h
  DataFormats/L1TCalorimeterPhase2/interface/DigitizedClusterCorrelator.h
  DataFormats/L1TCalorimeterPhase2/interface/DigitizedClusterGT.h
  DataFormats/L1TCalorimeterPhase2/interface/DigitizedTowerCorrelator.h
  DataFormats/L1TCalorimeterPhase2/src/classes.h
  DataFormats/L1TCalorimeterPhase2/src/classes_def.xml
  L1Trigger/Configuration/python/SimL1Emulator_cff.py
  L1Trigger/L1CaloTrigger/BuildFile.xml
  L1Trigger/L1CaloTrigger/interface/Phase2L1CaloEGammaUtils.h
  L1Trigger/L1CaloTrigger/interface/Phase2L1GCT.h
  L1Trigger/L1CaloTrigger/interface/Phase2L1RCT.h
  L1Trigger/L1CaloTrigger/plugins/L1EGammaCrystalsEmulatorProducer.cc
  L1Trigger/L1CaloTrigger/plugins/Phase2L1CaloEGammaEmulator.cc
  L1Trigger/L1CaloTrigger/python/l1tPhase2L1CaloEGammaEmulator_cfi.py
Labels: Phase-2, Emulator Development

#1140 Add updated caloParams for HI and ppRef
  L1Trigger/Configuration/python/customiseSettings.py
  L1Trigger/L1TCalorimeter/python/caloParamsHI_2023_v0_3_cfi.py
  L1Trigger/L1TCalorimeter/python/caloParams_2023_v0_3_ppRef_cfi.py
Labels: Phase-1, Configuration

#1134 Update Correlator layer 1 barrel "TDR" regionizer emulator
  L1Trigger/Phase2L1ParticleFlow/interface/regionizer/tdr_regionizer_elements_ref.h
  L1Trigger/Phase2L1ParticleFlow/interface/regionizer/tdr_regionizer_elements_ref.icc
  L1Trigger/Phase2L1ParticleFlow/interface/regionizer/tdr_regionizer_ref.h
  L1Trigger/Phase2L1ParticleFlow/src/regionizer/tdr_regionizer_ref.cpp
  L1Trigger/Phase2L1ParticleFlow/test/make_l1ct_binaryFiles_cfg.py
Labels: Phase-2, Emulator Development

#1143 P2GMT: Disable hard-coding of debug printout
  L1Trigger/Phase2L1GMT/plugins/Isolation.h
Labels: Phase-2

#1144 New EMTF BDT pT scale for 2023 (backport of PR41835)
  L1Trigger/L1TMuonEndCap/src/PtAssignmentEngine2017.cc
Labels: Phase-1, Backport

#1145 Change EMTF Primitive Conversion LUT Assignment for MC (backport of PR41954)
  L1Trigger/L1TMuonEndCap/src/SectorProcessorLUT.cc
Labels: Phase-1, Backport

#1146 EMTF muon shower unpacker update (backport of PR41993)
  DataFormats/L1TMuon/interface/EMTF/ME.h
  DataFormats/L1TMuon/interface/EMTF/SP.h
  DataFormats/L1TMuon/interface/EMTFHit.h
  DataFormats/L1TMuon/src/EMTFHit.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/EMTFBlockME.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/EMTFBlockSP.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/EMTFUnpackerTools.cc
Labels: Phase-1, Backport
