Repository cms-l1t-offline/cmssw, pull requests merged in 2023-05, with the labels that each got.

#1111 Add caloParams_2023_v0_1
  L1Trigger/Configuration/python/customiseSettings.py
  L1Trigger/L1TCalorimeter/python/caloParams_2023_v0_1_cfi.py
Labels: Phase-1, Configuration

#1090 Add SC jets from extended tracks to event content.
  L1Trigger/Configuration/python/L1Trigger_EventContent_cff.py
Labels: Phase-2, Event Content

#1115 First GT emulator prototype (by Benjamin, Elias, and Jaana) [Rebase to snapshot]
  DataFormats/L1Trigger/interface/P2GTCandidate.h
  DataFormats/L1Trigger/src/P2GTCandidate.cc
  L1Trigger/L1TNtuples/python/l1PhaseIITreeStep1Producer_cfi.py
  L1Trigger/Phase2L1GT/interface/L1GTScales.h
  L1Trigger/Phase2L1GT/plugins/L1GTAlgoBlockProducer.cc
  L1Trigger/Phase2L1GT/plugins/L1GTDoubleObjectCond.cc
  L1Trigger/Phase2L1GT/plugins/L1GTOptionalParam.h
  L1Trigger/Phase2L1GT/plugins/L1GTProducer.cc
  L1Trigger/Phase2L1GT/plugins/L1GTQuadObjectCond.cc
  L1Trigger/Phase2L1GT/plugins/L1GTSingleCollectionCut.h
  L1Trigger/Phase2L1GT/plugins/L1GTSingleObjectCond.cc
  L1Trigger/Phase2L1GT/plugins/L1GTTripleObjectCond.cc
  L1Trigger/Phase2L1GT/python/l1tGTDoubleObjectCond_cfi.py
  L1Trigger/Phase2L1GT/python/l1tGTMenu_hadr_metSeeds_cff.py
  L1Trigger/Phase2L1GT/python/l1tGTMenu_lepSeeds_cff.py
  L1Trigger/Phase2L1GT/python/l1tGTProducer_cff.py
  L1Trigger/Phase2L1GT/python/l1tGTQuadObjectCond_cfi.py
  L1Trigger/Phase2L1GT/python/l1tGTSingleInOutLUT.py
  L1Trigger/Phase2L1GT/python/l1tGTSingleObjectCond_cfi.py
  L1Trigger/Phase2L1GT/python/l1tGTTripleObjectCond_cfi.py
  L1Trigger/Phase2L1GT/src/L1GTScales.cc
  L1Trigger/Phase2L1GT/src/classes_def.xml
  L1Trigger/Phase2L1GT/test/gt_firmware_evaluation.py
  L1Trigger/Phase2L1GT/test/menu_analyzer.py
  L1Trigger/Phase2L1GT/test/test_GT.py
  L1Trigger/Phase2L1ParticleFlow/plugins/L1NNTauProducer.cc
  L1Trigger/Phase2L1ParticleFlow/python/l1TkEgAlgoEmulator_cfi.py
Labels: Phase-2, Emulator Development, SNAPSHOT BRANCH PR

#1118 Add missing GT files
  DataFormats/L1Trigger/interface/P2GTAlgoBlock.h
  DataFormats/L1Trigger/src/classes.h
  DataFormats/L1Trigger/src/classes_def.xml
  L1Trigger/Configuration/python/GTemulator_cff.py
  L1Trigger/Phase2L1GT/BuildFile.xml
  L1Trigger/Phase2L1GT/interface/L1GTInvariantMassError.h
  L1Trigger/Phase2L1GT/plugins/BuildFile.xml
  L1Trigger/Phase2L1GT/plugins/L1GTBoardWriter.cc
  L1Trigger/Phase2L1GT/plugins/L1GTDeltaCut.h
  L1Trigger/Phase2L1GT/plugins/L1GTEvaluationInterface.h
  L1Trigger/Phase2L1GT/plugins/L1GTEvaluationProducer.cc
  L1Trigger/Phase2L1GT/plugins/L1GTNTupleProducer.cc
  L1Trigger/Phase2L1GT/plugins/L1GTSingleInOutLUT.h
  L1Trigger/Phase2L1GT/python/l1tGTAlgoBlockProducer_cff.py
  L1Trigger/Phase2L1GT/python/l1tGTMenu_cff.py
  L1Trigger/Phase2L1GT/python/l1tGTScales.py
  L1Trigger/Phase2L1GT/src/classes.h
Labels: Emulator Development, SNAPSHOT BRANCH PR

#1119 Cms driver prototype
  Configuration/Applications/python/ConfigBuilder.py
  L1Trigger/Phase2L1GT/python/l1tGTAlgoBlockProducer_cff.py
  L1Trigger/Phase2L1GT/python/l1tGTProducer_cff.py
Labels: Phase-2, Configuration, SNAPSHOT BRANCH PR

#1088 Provide method to access GT and CT HW jet objects from l1t::PFJet
  DataFormats/L1TParticleFlow/interface/PFJet.h
  DataFormats/L1TParticleFlow/interface/sums.h
  DataFormats/L1TParticleFlow/src/classes_def.xml
  L1Trigger/Phase2L1ParticleFlow/plugins/L1MHtPFProducer.cc
  L1Trigger/Phase2L1ParticleFlow/plugins/L1SeedConePFJetProducer.cc
  L1Trigger/Phase2L1ParticleFlow/python/l1pfJetMet_cff.py
Labels: Phase-2, Data types, GT Necessary

#1121 Add puppi 13 1 0
  L1Trigger/L1TNtuples/interface/L1AnalysisRecoJetDataFormat.h
  L1Trigger/L1TNtuples/interface/L1AnalysisRecoMetDataFormat.h
  L1Trigger/L1TNtuples/plugins/L1JetRecoTreeProducer.cc
  L1Trigger/L1TNtuples/python/customiseL1CustomReco.py
  L1Trigger/L1TNtuples/python/l1JetRecoTree_cfi.py
Labels: Phase-1, Ntuplisation

#1066 Update Correlator to tag l1ct-125x-v1.16
  DataFormats/L1TParticleFlow/interface/gt_datatypes.h
  L1Trigger/Phase2L1ParticleFlow/python/l1ctLayer2EG_cff.py
  L1Trigger/Phase2L1ParticleFlow/test/make_l1ct_binaryFiles_cfg.py
Labels: GT Necessary

#1096 TkElectron v2 algo: Composite ID
  DataFormats/L1TCorrelator/interface/TkElectron.h
  DataFormats/L1TCorrelator/src/classes_def.xml
  DataFormats/L1TParticleFlow/interface/PFCandidate.h
  DataFormats/L1TParticleFlow/interface/PFCluster.h
  DataFormats/L1TParticleFlow/interface/bit_encoding.h
  DataFormats/L1TParticleFlow/interface/datatypes.h
  DataFormats/L1TParticleFlow/interface/layer1_emulator.h
  DataFormats/L1TParticleFlow/interface/layer1_objs.h
  DataFormats/L1TParticleFlow/src/PFCandidate.cc
  DataFormats/L1TParticleFlow/src/classes_def.xml
  DataFormats/L1TParticleFlow/src/layer1_emulator.cpp
  L1Trigger/Phase2L1ParticleFlow/data/compositeID.json
  L1Trigger/Phase2L1ParticleFlow/interface/common/inversion.h
  L1Trigger/Phase2L1ParticleFlow/interface/conifer.h
  L1Trigger/Phase2L1ParticleFlow/interface/egamma/pftkegalgo_ref.h
  L1Trigger/Phase2L1ParticleFlow/interface/l1-converters/hgcalinput_ref.h
  L1Trigger/Phase2L1ParticleFlow/interface/l1-converters/tkinput_ref.h
  L1Trigger/Phase2L1ParticleFlow/plugins/L1TCorrelatorLayer1Producer.cc
  L1Trigger/Phase2L1ParticleFlow/plugins/L1TCtL2EgProducer.cc
  L1Trigger/Phase2L1ParticleFlow/plugins/PFClusterProducerFromHGC3DClusters.cc
  L1Trigger/Phase2L1ParticleFlow/python/l1TkEgAlgoEmulator_cfi.py
  L1Trigger/Phase2L1ParticleFlow/python/l1TkEgAlgo_cfi.py
  L1Trigger/Phase2L1ParticleFlow/python/l1ctLayer1_cff.py
  L1Trigger/Phase2L1ParticleFlow/python/l1ctLayer2EG_cff.py
  L1Trigger/Phase2L1ParticleFlow/src/egamma/pfeginput_ref.cpp
  L1Trigger/Phase2L1ParticleFlow/src/egamma/pftkegalgo_ref.cpp
  L1Trigger/Phase2L1ParticleFlow/src/l1-converters/hgcalinputt_ref.cpp
  L1Trigger/Phase2L1ParticleFlow/src/l1-converters/tkinput_ref.cpp
  L1Trigger/Phase2L1ParticleFlow/test/make_l1ct_binaryFiles_cfg.py
Labels: Phase-2, Algorithm Development

#1128 Backport es prefer fix
  L1Trigger/L1TNtuples/python/customiseL1CustomReco.py
Labels: Phase-1, Ntuplisation, Backport

#1124 Ensure cluster ecal_eta/phi are set when not running CombinedCaloLinker.
  L1Trigger/Phase2L1ParticleFlow/src/CaloClusterer.cc
Labels: Phase-2, Plot Issues

#1127 P2GTCandidate physical values
  DataFormats/L1Trigger/interface/P2GTCandidate.h
  DataFormats/L1Trigger/src/P2GTCandidate.cc
  DataFormats/L1Trigger/src/classes_def.xml
  L1Trigger/Phase2L1GT/.gitignore
  L1Trigger/Phase2L1GT/interface/L1GTScales.h
  L1Trigger/Phase2L1GT/plugins/L1GTAlgoBlockProducer.cc
  L1Trigger/Phase2L1GT/plugins/L1GTProducer.cc
  L1Trigger/Phase2L1GT/python/l1tGTProducer_cff.py
  L1Trigger/Phase2L1GT/test/menu_analyzer.py
Labels: Phase-2, Emulator Development, SNAPSHOT BRANCH PR

#1109 Add flag to drop quality of low-pt TkMuons without an SA match
  L1Trigger/Configuration/python/SimL1Emulator_cff.py
  L1Trigger/Phase2L1GMT/plugins/Phase2L1TGMTFilter.cc
  L1Trigger/Phase2L1GMT/python/gmt_cfi.py
Labels: Phase-2, Emulator Development

#1129 Updated correlator layer 1 e/gamma sorter
  L1Trigger/Phase2L1ParticleFlow/interface/egamma/pftkegsorter_barrel_ref.h
  L1Trigger/Phase2L1ParticleFlow/interface/egamma/pftkegsorter_ref.h
  L1Trigger/Phase2L1ParticleFlow/interface/regionizer/tdr_regionizer_elements_ref.h
  L1Trigger/Phase2L1ParticleFlow/plugins/L1TCorrelatorLayer1Producer.cc
  L1Trigger/Phase2L1ParticleFlow/python/l1ctLayer1_cff.py
  L1Trigger/Phase2L1ParticleFlow/src/egamma/pftkegalgo_ref.cpp
  L1Trigger/Phase2L1ParticleFlow/test/make_l1ctLayer1_dumpFiles_cfg.py
  L1Trigger/Phase2L1ParticleFlow/test/make_l1ct_binaryFiles_cfg.py
Labels: Phase-2, Emulator Development
