Repository cms-l1t-offline/cmssw, pull requests merged in 2024-02, with the labels that each got.

#1175 Phase2 hps tau 13 3
  L1Trigger/Phase2L1ParticleFlow/interface/taus/L1HPSPFTauEmulator.h
  L1Trigger/Phase2L1ParticleFlow/plugins/L1HPSPFTauProducer.cxx
  L1Trigger/Phase2L1ParticleFlow/python/L1HPSPFTauProducer_cfi.py
Labels: Phase-2, Emulator Development, Physics Affecting

#1188 Phase 2 Integration GTTFileReader expansion and refactor
  L1Trigger/DemonstratorTools/interface/BoardDataReader.h
  L1Trigger/DemonstratorTools/interface/GTTInterface.h
  L1Trigger/DemonstratorTools/plugins/GTTFileReader.cc
  L1Trigger/DemonstratorTools/plugins/GTTFileWriter.cc
  L1Trigger/DemonstratorTools/python/l1tGTTFileReader_cfi.py
  L1Trigger/DemonstratorTools/src/BoardDataReader.cc
  L1Trigger/DemonstratorTools/src/codecs_vertices.cc
  L1Trigger/DemonstratorTools/test/gtt/createFirmwareInputFiles_cfg.py
  L1Trigger/L1TTrackMatch/plugins/L1GTTInputProducer.cc
  L1Trigger/L1TTrackMatch/python/l1tGTTInputProducer_cfi.py
Labels: Phase-2, Emulator Development

#1193 Add Phase-2 Level-1 trigger ML MET emulator [14_0_0_pre3]
  L1Trigger/Configuration/python/L1Trigger_EventContent_cff.py
  L1Trigger/Configuration/python/SimL1Emulator_cff.py
  L1Trigger/Phase2L1ParticleFlow/BuildFile.xml
  L1Trigger/Phase2L1ParticleFlow/plugins/L1MetPfProducer.cc
  L1Trigger/Phase2L1ParticleFlow/python/l1tMETPFProducer_cfi.py
Labels: Phase-2, Emulator Development, Physics Affecting

#1197 Phase-2 TauMinator Tau (NNCaloTau)
  L1Trigger/Configuration/python/L1Trigger_EventContent_cff.py
  L1Trigger/Configuration/python/SimL1Emulator_cff.py
  L1Trigger/L1CaloTrigger/plugins/BuildFile.xml
  L1Trigger/L1CaloTrigger/plugins/L1NNCaloTauEmulator.cc
  L1Trigger/L1CaloTrigger/plugins/L1NNCaloTauProducer.cc
  L1Trigger/L1CaloTrigger/python/l1tNNCaloTauEmulator_cff.py
  L1Trigger/L1CaloTrigger/python/l1tNNCaloTauProducer_cff.py
Labels: Phase-2, Algorithm Development

#1204 [Phase 2] Add calo jet and tau to L1 sequence and event content
  L1Trigger/Configuration/python/L1Trigger_EventContent_cff.py
  L1Trigger/Configuration/python/SimL1Emulator_cff.py
Labels: Phase-2, Event Content, Configuration

#1210 Add HPS tau emulator to sequence + event content
  L1Trigger/Configuration/python/L1Trigger_EventContent_cff.py
  L1Trigger/Configuration/python/SimL1Emulator_cff.py
Labels: Phase-2, Event Content

#1211 Fix module names in HGCal tower customisation function
  L1Trigger/L1THGCal/python/customTowers.py
Labels: Phase-2, Bug fix
