Repository cms-l1t-offline/cmssw, pull requests merged in 2024-04, with the labels that each got.

#1226 Produce and use custom HGCal towers for baseline GCT calo jets and taus.
  L1Trigger/Configuration/python/L1Trigger_EventContent_cff.py
  L1Trigger/Configuration/python/SimL1Emulator_cff.py
  L1Trigger/L1CaloTrigger/python/l1tPhase2CaloJetEmulator_cff.py
Labels: Phase-2, Emulator Development, Event Content

#1230 [Phase-2] Updated of GCT jets and taus collection
  L1Trigger/L1CaloTrigger/interface/Phase2L1CaloJetEmulator.h
  L1Trigger/L1CaloTrigger/plugins/Phase2L1CaloJetEmulator.cc
  L1Trigger/L1CaloTrigger/python/l1tPhase2CaloJetEmulator_cfi.py
Labels: Phase-2, Emulator Development, Algorithm Development

#1233 Phase 2 GTT fix null options for loading from buffers in F/W workflow
  L1Trigger/DemonstratorTools/test/gtt/createFirmwareInputFiles_cfg.py
Labels: Phase-2, Bug fix

#1234 Phase 2 GTT fix off-by-one error and collection mismatch in L1TrackObjectNtupleMaker
  L1Trigger/L1TTrackMatch/test/L1TrackObjectNtupleMaker.cc
Labels: Phase-2, Bug fix

#1235 Phase 2 add emulated Displaced Track HT(Miss) to GTT emulation buffers to GlobalTrigger
  L1Trigger/DemonstratorTools/plugins/GTTFileWriter.cc
  L1Trigger/DemonstratorTools/python/l1tGTTFileWriter_cfi.py
Labels: Phase-2, Emulator Development

#1225 Correlator PuppiTauNN interface with GT.
  DataFormats/L1TParticleFlow/interface/gt_datatypes.h
  DataFormats/L1TParticleFlow/interface/taus.h
  L1Trigger/Phase2L1GT/plugins/L1GTProducer.cc
Labels: Phase-2, Emulator Development

#1227 adding displaced flag
  L1Trigger/L1TTrackMatch/plugins/L1TkHTMissEmulatorProducer.cc
Labels: Phase-2, Bug fix

#1239 Update prompt and displaced muon names to reflect GMT changes
  L1Trigger/Phase2L1GT/python/l1tGTProducer_cff.py
  L1Trigger/Phase2L1ParticleFlow/plugins/L1TCorrelatorLayer1Producer.cc
  L1Trigger/Phase2L1ParticleFlow/python/l1ctLayer1_cff.py
Labels: Phase-2, Bug fix

#1238 Revert NN tau variable mapping
  L1Trigger/Phase2L1GT/plugins/L1GTProducer.cc
Labels: Phase-2, Bug fix

#1231 L1TrackVertexAssociationProducer bug fix to stop accessing data after move
  L1Trigger/L1TTrackMatch/plugins/L1TrackVertexAssociationProducer.cc
Labels: Phase-2, Bug fix

#1236 Emtfpp for 14 0 0 pre3
  L1Trigger/L1TMuonEndCapPhase2/interface/Algo/OutputLayer.h
  L1Trigger/L1TMuonEndCapPhase2/interface/Algo/RoadSortingLayer.h
  L1Trigger/L1TMuonEndCapPhase2/interface/Algo/TrackBuildingLayer.h
  L1Trigger/L1TMuonEndCapPhase2/interface/DAQ/CSCTPSelector.h
  L1Trigger/L1TMuonEndCapPhase2/interface/DAQ/GE0TPSelector.h
  L1Trigger/L1TMuonEndCapPhase2/interface/DAQ/GEMTPSelector.h
  L1Trigger/L1TMuonEndCapPhase2/interface/DAQ/ME0TPSelector.h
  L1Trigger/L1TMuonEndCapPhase2/interface/DAQ/RPCTPSelector.h
  L1Trigger/L1TMuonEndCapPhase2/interface/Data/ActivationLut.h
  L1Trigger/L1TMuonEndCapPhase2/interface/Data/TimeZoneLut.h
  L1Trigger/L1TMuonEndCapPhase2/interface/Data/ZoneLut.h
  L1Trigger/L1TMuonEndCapPhase2/interface/SectorProcessor.h
  L1Trigger/L1TMuonEndCapPhase2/interface/TrackFinder.h
  L1Trigger/L1TMuonEndCapPhase2/interface/Utils/CSCUtils.h
  L1Trigger/L1TMuonEndCapPhase2/interface/Utils/DataUtils.h
  L1Trigger/L1TMuonEndCapPhase2/interface/Utils/TPUtils.h
  L1Trigger/L1TMuonEndCapPhase2/plugins/L1TMuonEndCapPhase2TrackProducer.cc
  L1Trigger/L1TMuonEndCapPhase2/src/Algo/DuplicateRemovalLayer.cc
  L1Trigger/L1TMuonEndCapPhase2/src/Algo/HitmapLayer.cc
  L1Trigger/L1TMuonEndCapPhase2/src/Algo/OutputLayer.cc
  L1Trigger/L1TMuonEndCapPhase2/src/Algo/ParameterAssignmentLayer.cc
  L1Trigger/L1TMuonEndCapPhase2/src/Algo/PatternMatchingLayer.cc
  L1Trigger/L1TMuonEndCapPhase2/src/Algo/RoadSortingLayer.cc
  L1Trigger/L1TMuonEndCapPhase2/src/Algo/TrackBuildingLayer.cc
  L1Trigger/L1TMuonEndCapPhase2/src/DAQ/CSCTPCollector.cc
  L1Trigger/L1TMuonEndCapPhase2/src/DAQ/CSCTPConverter.cc
  L1Trigger/L1TMuonEndCapPhase2/src/DAQ/CSCTPSelector.cc
  L1Trigger/L1TMuonEndCapPhase2/src/DAQ/GE0TPCollector.cc
  L1Trigger/L1TMuonEndCapPhase2/src/DAQ/GE0TPConverter.cc
  L1Trigger/L1TMuonEndCapPhase2/src/DAQ/GE0TPSelector.cc
  L1Trigger/L1TMuonEndCapPhase2/src/DAQ/GEMTPCollector.cc
  L1Trigger/L1TMuonEndCapPhase2/src/DAQ/GEMTPConverter.cc
  L1Trigger/L1TMuonEndCapPhase2/src/DAQ/GEMTPSelector.cc
  L1Trigger/L1TMuonEndCapPhase2/src/DAQ/ME0TPCollector.cc
  L1Trigger/L1TMuonEndCapPhase2/src/DAQ/ME0TPConverter.cc
  L1Trigger/L1TMuonEndCapPhase2/src/DAQ/ME0TPSelector.cc
  L1Trigger/L1TMuonEndCapPhase2/src/DAQ/RPCTPCollector.cc
  L1Trigger/L1TMuonEndCapPhase2/src/DAQ/RPCTPConverter.cc
  L1Trigger/L1TMuonEndCapPhase2/src/DAQ/RPCTPSelector.cc
  L1Trigger/L1TMuonEndCapPhase2/src/Data/ActivationLut.cc
  L1Trigger/L1TMuonEndCapPhase2/src/Data/TimeZoneLut.cc
  L1Trigger/L1TMuonEndCapPhase2/src/Data/ZoneLut.cc
  L1Trigger/L1TMuonEndCapPhase2/src/SectorProcessor.cc
  L1Trigger/L1TMuonEndCapPhase2/src/TrackFinder.cc
  L1Trigger/L1TMuonEndCapPhase2/src/Utils/CSCUtils.cc
  L1Trigger/L1TMuonEndCapPhase2/src/Utils/TPUtils.cc
  L1Trigger/Phase2L1GMT/plugins/Phase2L1TGMTFwdMuonTranslator.cc
Labels: Phase-2, Bug fix

#1240 Add #44574 to Prototype
  L1Trigger/TrackFindingTracklet/README.md
  L1Trigger/TrackFindingTracklet/interface/Settings.h
  L1Trigger/TrackFindingTracklet/interface/Tracklet.h
  L1Trigger/TrackFindingTracklet/src/PurgeDuplicate.cc
  L1Trigger/TrackFindingTracklet/test/L1TrackNtuplePlot.C
  L1Trigger/TrackFindingTracklet/test/makeHists.csh
Labels: Phase-2, Bug fix

#1242 Updated seed tower thresholds in endcap to improve efficiency (from #44606)
  L1Trigger/L1CaloTrigger/interface/Phase2L1CaloJetEmulator.h
  L1Trigger/L1CaloTrigger/plugins/Phase2L1CaloJetEmulator.cc
  L1Trigger/L1CaloTrigger/python/l1tPhase2CaloJetEmulator_cfi.py
Labels: Phase-2, Bug fix

#1243 Port 44348
  L1Trigger/TrackFindingTracklet/README.md
  L1Trigger/TrackFindingTracklet/interface/MatchProcessor.h
  L1Trigger/TrackFindingTracklet/interface/Settings.h
  L1Trigger/TrackFindingTracklet/interface/Track.h
  L1Trigger/TrackFindingTracklet/python/L1TrackNtupleMaker_cfi.py
  L1Trigger/TrackFindingTracklet/src/MatchEngineUnit.cc
  L1Trigger/TrackFindingTracklet/src/MatchProcessor.cc
  L1Trigger/TrackFindingTracklet/src/MemoryBase.cc
  L1Trigger/TrackFindingTracklet/src/StubKiller.cc
  L1Trigger/TrackFindingTracklet/src/Tracklet.cc
  L1Trigger/TrackFindingTracklet/src/TrackletProcessorDisplaced.cc
  L1Trigger/TrackFindingTracklet/test/L1TrackNtupleMaker.cc
  L1Trigger/TrackFindingTracklet/test/L1TrackNtupleMaker_cfg.py
  L1Trigger/TrackFindingTracklet/test/L1TrackNtuplePlot.C
  L1Trigger/TrackFindingTracklet/test/makeHists.csh
  L1Trigger/TrackFindingTracklet/test/skimForCI_cfg.py
Labels: Phase-2, Bug fix

#1244 Port 44471
  L1Trigger/TrackFindingTracklet/src/PurgeDuplicate.cc
Labels: Phase-2, Bug fix

#1246 Port 44574 New Commits
  L1Trigger/TrackFindingTracklet/interface/Settings.h
  L1Trigger/TrackFindingTracklet/src/PurgeDuplicate.cc
Labels: Phase-2, Bug fix

#1245 bug fixes for tracktriplet
  DataFormats/L1TCorrelator/interface/TkTriplet.h
  DataFormats/L1TCorrelator/src/TkTriplet.cc
  L1Trigger/Configuration/python/SimL1Emulator_cff.py
  L1Trigger/L1TTrackMatch/plugins/L1TrackTripletEmulatorProducer.cc
  L1Trigger/L1TTrackMatch/test/L1TrackObjectNtupleMaker.cc
Labels: Phase-2, Bug fix

#1247 OMTF configuration fix to use phase-2 values
  L1Trigger/Configuration/python/SimL1Emulator_cff.py
  L1Trigger/L1TMuonOverlapPhase2/python/fakeOmtfParamsPhase2_cff.py
  L1Trigger/L1TMuonOverlapPhase2/python/simOmtfPhase2Digis_extrapol_cfi.py
  L1Trigger/Phase2L1GMT/plugins/Phase2L1TGMTFwdMuonTranslator.cc
Labels: Phase-2, Bug fix

#1249 Implemented Quality Definition for EMTF++&GMT
  DataFormats/L1TMuonPhase2/interface/EMTFTrack.h
  DataFormats/L1TMuonPhase2/src/classes_def.xml
  L1Trigger/L1TMuonEndCapPhase2/interface/Algo/OutputLayer.h
  L1Trigger/L1TMuonEndCapPhase2/src/Algo/OutputLayer.cc
  L1Trigger/Phase2L1GMT/plugins/Phase2L1TGMTFwdMuonTranslator.cc
Labels: Phase-2, Bug fix

#1251 Fixing the x3 missing in multiple scattering LUTs
  L1Trigger/Phase2L1GMT/interface/TPSLUTs.h
  L1Trigger/Phase2L1GMT/src/TPSAlgorithm.cc
Labels: Phase-2, Bug fix
