Repository cms-l1t-offline/cmssw, pull requests merged in 2024-01, with the labels that each got.

#1187 Correlator: support for running barrel TM18
  DataFormats/L1TParticleFlow/interface/datatypes.h
  L1Trigger/Phase2L1ParticleFlow/interface/regionizer/buffered_folded_multififo_regionizer_ref.h
  L1Trigger/Phase2L1ParticleFlow/interface/regionizer/middle_buffer_multififo_regionizer_ref.h
  L1Trigger/Phase2L1ParticleFlow/interface/regionizer/multififo_regionizer_elements_ref.h
  L1Trigger/Phase2L1ParticleFlow/interface/regionizer/multififo_regionizer_elements_ref.icc
  L1Trigger/Phase2L1ParticleFlow/interface/regionizer/multififo_regionizer_ref.h
  L1Trigger/Phase2L1ParticleFlow/plugins/L1TCorrelatorLayer1Producer.cc
  L1Trigger/Phase2L1ParticleFlow/src/regionizer/buffered_folded_multififo_regionizer_ref.cpp
  L1Trigger/Phase2L1ParticleFlow/src/regionizer/middle_buffer_multififo_regionizer_ref.cpp
  L1Trigger/Phase2L1ParticleFlow/src/regionizer/multififo_regionizer_ref.cpp
  L1Trigger/Phase2L1ParticleFlow/src/regionizer/tdr_regionizer_ref.cpp
  L1Trigger/Phase2L1ParticleFlow/test/make_l1ct_binaryFiles_cfg.py
Labels: Phase-2, Emulator Development

#1189 [Phase2] calibrated GCT calo jets and taus
  L1Trigger/L1CaloTrigger/interface/Phase2L1CaloEGammaUtils.h
  L1Trigger/L1CaloTrigger/interface/Phase2L1CaloJetEmulator.h
  L1Trigger/L1CaloTrigger/interface/Phase2L1GCT.h
  L1Trigger/L1CaloTrigger/interface/Phase2L1RCT.h
  L1Trigger/L1CaloTrigger/plugins/Phase2L1CaloEGammaEmulator.cc
  L1Trigger/L1CaloTrigger/plugins/Phase2L1CaloJetEmulator.cc
  L1Trigger/L1CaloTrigger/python/l1tPhase2CaloJetEmulator_cfi.py
Labels: Phase-2, Algorithm Development, Physics Affecting

#1167 Seeded Cone jets update
  DataFormats/L1TParticleFlow/interface/gt_datatypes.h
  L1Trigger/Configuration/python/L1Trigger_EventContent_cff.py
  L1Trigger/Phase2L1GT/python/l1tGTProducer_cff.py
  L1Trigger/Phase2L1ParticleFlow/plugins/L1CTJetFileWriter.cc
  L1Trigger/Phase2L1ParticleFlow/plugins/L1MHtPFProducer.cc
  L1Trigger/Phase2L1ParticleFlow/python/L1BJetProducer_cff.py
  L1Trigger/Phase2L1ParticleFlow/python/l1pfJetMet_cff.py
  L1Trigger/Phase2L1ParticleFlow/python/l1tJetFileWriter_cfi.py
  L1Trigger/Phase2L1ParticleFlow/python/l1tMHTPFProducer_cfi.py
  L1Trigger/Phase2L1ParticleFlow/test/make_l1ct_binaryFiles_cfg.py
Labels: Phase-2, Algorithm Development, Physics Affecting

#1192 Update displaced track jet cuts
  L1Trigger/L1TTrackMatch/plugins/L1TrackSelectionProducer.cc
  L1Trigger/L1TTrackMatch/python/l1tTrackSelectionProducer_cfi.py
Labels: Phase-2, Configuration, Physics Affecting
